{{#if addNewRental}}
  <!-- Form that creates a new rental object  -->
  <h1>New Rental</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="owner">Owner</label>
        {{input value=owner id="owner"}}
      </div>

      <div class="form-group">
        <label for="type">Type</label>
        {{input value=type id="type"}}
      </div>

      <div class="form-group">
        <label for="city">City</label>
        {{input value=city id="city"}}
      </div>

      <div class="form-group">
        <label for="bedrooms">Number of Bedrooms</label>
        {{input value=bedrooms id="bedrooms"}}
      </div>

      <div class="form-group">
        <label for="image">Image URL</label>
        {{input value=image id="image"}}
      </div>

      <div class="form-group">
        <label for="price">Rental Price</label>
        ${{input value=price id="price"}} per month
      </div>
      <!-- Save saveRental1 to new-rental.js as new-rental2 -->
      <button {{action 'saveRental1'}}>Save</button>
    </form>
  </div>
{{else}}
  <!-- Show/Hide new rental form -->
  <button {{action 'rentalFormShow'}}>New Rental</button>
{{/if}}
